{% extends 'base.html.twig' %}

{% block body %}
<div class="content">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-5">АнегДока</h1>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if categoryName is not empty %}
                    {{ categoryName.name }}
                {% else %}
                    Все категории
                {% endif %}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item"
                   href="{{ path('user_joke_index') }}">
                    Все категории</a>
                {% for category in categories %}
                    <a class="dropdown-item"
                       href="{{ path('user_joke_index',{'category_id':category.id}) }}">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>

    </div>
    {% for joke in jokes %}
        <div class="container" style="border: #dee1e5 solid 1px; border-radius: 5px; margin-bottom: 20px">
            <div class="row" style="padding: 15px">
                <div class="col-md-11 col-lg-11 col-xs-11 col-sm-11">
                    <p style="white-space: pre-line; margin-top: -25px ">
                        {{ joke.text }}
                    </p>
                </div>
                <div class="col-md-1">
                    <button class="btn" style="background-color: #ffffff;"><i class="fa fa-star"
                                                                              style="font-size: 24px; color: #ffe140"></i>
                    </button>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endblock %}
